@model IEnumerable<ProjB.ViewModels.EventTypeGroup>

@{
    ViewBag.Title = "Customer Attendance";
}

<h2>Customer Attendance</h2>

<table>
    <tr>
        <th>
            Event ID
        </th>
        <th>
            Customers
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventID)
            </td>
            <td>
                @item.CustomerCount
            </td>
        </tr>
    }
</table>



