@model ProjB.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Booking Confirmation</h2>


<h3>Thank you for your booking!</h3>



   <div>
    @Html.ActionLink("Back to Event Details", "Details")
</div>


         

